body {
  background: #333;
  margin: 0;
  padding: 0;
}

p {
  color: white;
}

a {
  color: white;
}

nav {
  background: white;
  margin: 0;
  padding: 1%;
}

nav h2{
  padding: 0;
}

nav ul li{
  display: inline-block;
  color: black;
  padding: 5px 10px 5px 10px;
}

nav ul li a{
  color: black;
  text-decoration: none;
}

nav ul li a.selected {
  font-weight: 900;
  font-size: 20px;
}

.normal {
  color: white;
  background: #333;
  padding: 5px;
  margin: 3%;
}

.normal h2 {
  font-weight: bold;
  text-decoration: underline;
}
