body {
  background: #333;
  margin: 0;
  padding: 1%;
}

nav {
  background: white;
  margin: 0;
  padding: 5%;
}

nav ul li{
  display: inline-block;
}

.intro {
  color: white;
  background: #666;
  padding: 5px;
  margin: 3%;
}
